{% extends "../cuentas/base.html" %}
{% load allauth i18n %}
<script src="https://cdn.tailwindcss.com"></script>

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}
    <div class="flex justify-center items-center h-screen bg-gray-100">
        <div class="bg-white rounded-lg p-8 shadow-lg w-full max-w-md text-center">
            <h1 class="text-2xl font-semibold text-gray-800 mb-4">{% trans "Sign Out" %}</h1>
            <p class="text-lg text-gray-600 mb-6">{% trans 'Are you sure you want to sign out?' %}</p>

            {% url 'account_logout' as action_url %}
            <form method="post" action="{{ action_url }}" class="w-full">
                {% csrf_token %}
                {{ redirect_field }}

                <div class="mt-6">
                    <button type="submit" class="w-full py-3 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-700 transition duration-200">
                        {% trans 'Sign Out' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
